<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mapster" version="5.3.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.4" targetFramework="net48" />
  <package id="RestSharp" version="106.11.3" targetFramework="net48" />
  <package id="RxRegistry" version="1.1.0-a" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Serilog" version="2.8.0" targetFramework="net48" />
  <package id="Serilog.Exceptions" version="5.4.0" targetFramework="net48" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="4.0.0-dev-00839" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.TelegramClient" version="2.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>