<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="RxRegistry" version="1.1.0-a" targetFramework="net48" />
  <package id="Serilog" version="2.8.0" targetFramework="net48" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="4.0.0-dev-00839" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net48" />
</packages>